Source: vulkan-tools
Section: libdevel
Priority: optional
Maintainer: Brett Johnson <brett@linuxturtle.net>
Build-Depends: debhelper (>=9),
 cmake,
 bison,
 libx11-xcb-dev,
 libxkbcommon-dev,
 libmirclient-dev,
 libwayland-dev,
 libxrandr-dev,
 wget autotools-dev,
 libxcb-keysyms1,
 libxcb-keysyms1-dev,
 libjsoncpp-dev,
 libjsoncpp1
Standards-Version: 3.9.6
Homepage: https://github.com/LunarG/VulkanTools
Vcs-Git: https://github.com/linuxturtle/VulkanTools.git
Vcs-Browser: https://github.com/linuxturtle/VulkanTools

Package: lunarg-vulkan-layers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libvulkan1,
 libvulkan-dev
Description: Extra vulkan development layers from LunarG
 This package contains extra development layers for Vulkan from LunarG.  These
 include Api_dump, screenshot, device_simulation, and vktrace layers.

Package: lunarg-vktrace
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 libvulkan1,
 libvulkan-dev
Description: LunarG vulkan API capture and replay tools
 This package contains the vktrace and vkreplay tools, used to capture and
 replay vulkan API calls from an application.

Package: lunarg-via
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 libvulkan1
Description: LunarG Vulkan Installation Analyzer
 VIA is a tool that can:
 .
 1. Determine the state of Vulkan components on your system
 2. Validate that your Vulkan Loader and drivers are installed properly
 3. Capture your system state in a form that can be used as an attachment
    when submitting bugs

